<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Guide Review Detail</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="css/select2.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="d-flex justify-content-between align-items-center" id="header">
          <div class="col-xl-1">
            <h1 class="logo"><a href="#"><img class="img-fluid" src="images/logo.jpg" alt="logo"/></a></h1>
          </div>
          <div class="col-xl-11">
            <div class="d-flex justify-content-between align-items-center">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile Guide</a></li>
                <li class="level-2"><a href="#">training Courses</a>
                  <ul class="list-unstyled">
                    <li class="level-3"><a href="#">blah blah</a>
                      <ul class="list-unstyled">
                        <li><a href="#">blah blah</a></li>
                        <li><a href="#">blah blah</a></li>
                        <li><a href="#">blah blah</a></li>
                        <li><a href="#">blah blah</a></li>
                      </ul>
                    </li>
                    <li><a href="#">blah blah</a></li>
                    <li><a href="#">blah blah</a></li>
                    <li><a href="#">blah blah</a></li>
                  </ul>
                </li>
                <li><a href="#">Job Search Opportunity</a></li>
                <li><a href="#">Travel Blogs</a></li>
                <li><a href="#">FAQS</a></li>
                <li><a href="">About Us</a></li>
              </ul>
              <ul class="login list-unstyled d-flex justify-content-between align-items-center">
                <li><a href="#">Sign in</a></li>
                <li class="register"><a href="">Sign up</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="tourguide-info">
      <div class="container">
        <div class="tourguide-info-wrap">
          <div class="row">
            <div class="col-xl-6 offset-xl-1">
              <h2 class="tourguider-name">DEIDRE SEARS</h2>
              <p class="tourguider-license">LICENSED GUIDE</p>
              <div class="info-nav d-flex">
                <div class="link-list"><a id="Personalinformationlink" href="#">Personal information</a><a id="jobskilllink" href="#">job skill</a><a id="languageusedlink" href="#">language used</a><a id="roleunionlink" href="#">role union</a></div>
                <div class="link-list"><a id="ecucationguidelineslink" href="#">EDUCATION GUIDELINES</a><a id="sharethinkinglink" href="#">SHARE THINKING</a><a id="tourlocationlink" href="#">tour locations</a><a id="viewfeedbacklink" href="#">view feedback</a></div>
              </div>
            </div>
            <div class="col-xl-5">
              <div class="tourguide-des">
                <div class="avatar"><img class="img-fluid" src="images/tourguider-img.png" alt=""/></div>
                <div class="info">
                  <h3>BIO</h3>
                  <p>“Mark Levy is the founder of Levy Innovation, a marketing strategy firm. David Meerman Scott has called him “a positioning guru extraordinaire,” and Debbie Weil referred to him as “a horse whisperer for writers and business thinkers.” He has written for The New York Times, and has written or co-created five books. His latest is a revised, expanded, and re-subtitled edition of his bestseller, Accidental Genius: Using Writing to Generate Your Best Ideas, Insight, and Content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="personal-infomation" id="Personalinformation">
      <div class="container">
        <div class="personal-info-wrap">
          <div class="collapse-header"><a href="#">personal infomation</a></div>
          <div class="collapse-body">
            <div class="personnal-info-content">
              <ul class="list-unstyled">
                <li><span>Địa chỉ:</span> SN 32, Ngõ 135/28 Bồ Đề, Long Biên, Hà Nội</li>
                <li><span>Loại thẻ:</span> Tiếng Anh</li>
                <li><span>Ngày sinh:</span> 02/05/2013</li>
                <li><span>Ngày đăng hồ sơ:</span> 05/09/2018</li>
              </ul>
              <ul class="list-unstyled">
                <li><span>Mobile:</span> 098 8622 292</li>
                <li><span>Email:</span> hoang.hanu@gmail.com</li>
                <li><span>Số thẻ:</span> 101173757</li>
                <li><span>Ngày hết hạn thẻ:</span> 23/01/2020</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="guide-skill">
      <div class="container d-flex">
        <div class="job-skill-wrap" id="jobskill">
          <div class="collapse-header"><a href="#">job skill</a></div>
          <div class="collapse-body">
            <div class="job-skill-content">
              <ul class="list-unstyled">
                <li>First aid certificate</li>
                <li>Certificate of professional guidance</li>
                <li>Language certificate</li>
                <li>Certificate of travel responsibility</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="language-wrap" id="languageused">
          <div class="collapse-header"><a href="#">language use</a></div>
          <div class="collapse-body">
            <div class="job-skill-content">
              <ul class="list-unstyled">
                <li>Cambodia</li>
                <li>China</li>
                <li>France</li>
                <li>Germany</li>
                <li>Italy</li>
                <li>Japan</li>
                <li>Korea Republic</li>
                <li>Lao</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="role-wrap" id="roleunion">
          <div class="collapse-header"><a href="#">ROLE UNION</a></div>
          <div class="collapse-body">
            <div class="job-skill-content">
              <ul class="list-unstyled">
                <li>Hướng dẫn viên nội địa</li>
                <li>Hướng dẫn viên Inbound</li>
                <li>Hướng dẫn viên Outbound</li>
                <li>MC chương trình gala</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="education-guidelines">
      <div class="container">
        <div class="educatio-wrap" id="ecucationguidelines">
          <div class="collapse-header"><a href="#">education guidelines</a></div>
          <div class="collapse-body">
            <table class="table table-bordered table-sm m-0 education-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Retail</th>
                  <th>Group 4-10</th>
                  <th>Group 10-25</th>
                  <th>Group 25-40</th>
                  <th>Group more 40</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label>Pick up guests</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-1"/>
                      <label for="checkbox-1"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-2"/>
                      <label for="checkbox-2"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-3"/>
                      <label for="checkbox-3"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-4"/>
                      <label for="checkbox-4"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-5"/>
                      <label for="checkbox-5"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Spiritual Tour</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-6"/>
                      <label for="checkbox-6"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-7"/>
                      <label for="checkbox-7"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-8"/>
                      <label for="checkbox-8"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-9"/>
                      <label for="checkbox-9"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-10"/>
                      <label for="checkbox-10"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Teambuilding tour</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-11"/>
                      <label for="checkbox-11"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-12"/>
                      <label for="checkbox-12"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-13"/>
                      <label for="checkbox-13"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-14"/>
                      <label for="checkbox-14"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-15"/>
                      <label for="checkbox-15"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Adventure Tours</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-16"/>
                      <label for="checkbox-16"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-17"/>
                      <label for="checkbox-17"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-18"/>
                      <label for="checkbox-18"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-19"/>
                      <label for="checkbox-19"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-20"/>
                      <label for="checkbox-20"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Student Tour</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-21"/>
                      <label for="checkbox-21"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-22"/>
                      <label for="checkbox-22"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-23"/>
                      <label for="checkbox-23"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-24"/>
                      <label for="checkbox-24"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-25"/>
                      <label for="checkbox-25"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Traditional Tours</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-26"/>
                      <label for="checkbox-26"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-27"/>
                      <label for="checkbox-27"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-28"/>
                      <label for="checkbox-28"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-29"/>
                      <label for="checkbox-29"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-30"/>
                      <label for="checkbox-30"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Resort tour</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-31"/>
                      <label for="checkbox-31"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-32"/>
                      <label for="checkbox-32"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-33"/>
                      <label for="checkbox-33"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-34"/>
                      <label for="checkbox-34"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-35"/>
                      <label for="checkbox-35"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Bicycle tour</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-36"/>
                      <label for="checkbox-36"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-37"/>
                      <label for="checkbox-37"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-37"/>
                      <label for="checkbox-37"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-38"/>
                      <label for="checkbox-38"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-39"/>
                      <label for="checkbox-39"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Motorcycle tour</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-40"/>
                      <label for="checkbox-40"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-41"/>
                      <label for="checkbox-41"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-42"/>
                      <label for="checkbox-42"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-43"/>
                      <label for="checkbox-43"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-44"/>
                      <label for="checkbox-44"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Foody tour</label>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" checked="check" id="checkbox-45"/>
                      <label for="checkbox-45"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-46"/>
                      <label for="checkbox-46"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-47"/>
                      <label for="checkbox-47"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-48"/>
                      <label for="checkbox-48"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="checkbox-49"/>
                      <label for="checkbox-49"></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="share-block">
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="share-thinking" id="sharethinking">
              <div class="collapse-header"><a href="#">personal infomation</a></div>
              <div class="collapse-body">
                <div class="share-thinking-content">
                  <p class="point">Grade Point Average<span>4.7</span></p>
                  <ul class="list-unstyled share-rate">
                    <li>
                      <p>Friendly & Helpful</p>
                      <form action="#">
                        <div class="rating">
                          <input class="radio-btn hide" id="star1" name="star" type="radio" value="1"/>
                          <label for="star1">star</label>
                          <input class="radio-btn hide" id="star2" name="star" type="radio" value="2"/>
                          <label for="star2">star</label>
                          <input class="radio-btn hide" id="star3" name="star" type="radio" value="3"/>
                          <label for="star3">star</label>
                          <input class="radio-btn hide" id="star4" name="star" type="radio" value="4"/>
                          <label for="star4">star</label>
                          <input class="radio-btn hide" id="star5" name="star" type="radio" value="5"/>
                          <label for="star5">star</label>
                        </div>
                      </form>
                    </li>
                    <li>
                      <p>Language / Foreign Language</p>
                      <form action="#">
                        <div class="rating">
                          <input class="radio-btn hide" id="6" name="star" type="radio" value="1"/>
                          <label for="6">star</label>
                          <input class="radio-btn hide" id="star7" name="star" type="radio" value="2"/>
                          <label for="star7">star</label>
                          <input class="radio-btn hide" id="star8" name="star" type="radio" value="3"/>
                          <label for="star8">star</label>
                          <input class="radio-btn hide" id="star9" name="star" type="radio" value="4"/>
                          <label for="star9">star</label>
                          <input class="radio-btn hide" id="star10" name="star" type="radio" value="5"/>
                          <label for="star10">star</label>
                        </div>
                      </form>
                    </li>
                    <li>
                      <p>Work attitude & professionalism</p>
                      <form action="#">
                        <div class="rating">
                          <input class="radio-btn hide" id="star11" name="star" type="radio" value="1"/>
                          <label for="star11">star</label>
                          <input class="radio-btn hide" id="star12" name="star" type="radio" value="2"/>
                          <label for="star12">star</label>
                          <input class="radio-btn hide" id="star13" name="star" type="radio" value="3"/>
                          <label for="star13">star</label>
                          <input class="radio-btn hide" id="star14" name="star" type="radio" value="4"/>
                          <label for="star14">star</label>
                          <input class="radio-btn hide" id="star15" name="star" type="radio" value="5"/>
                          <label for="star15">star</label>
                        </div>
                      </form>
                    </li>
                    <li>
                      <p>Facial, Facial & Personal Hygiene</p>
                      <form action="#">
                        <div class="rating">
                          <input class="radio-btn hide" id="star16" name="star" type="radio" value="1"/>
                          <label for="star16">star</label>
                          <input class="radio-btn hide" id="star17" name="star" type="radio" value="2"/>
                          <label for="star17">star</label>
                          <input class="radio-btn hide" id="star18" name="star" type="radio" value="3"/>
                          <label for="star18">star</label>
                          <input class="radio-btn hide" id="star19" name="star" type="radio" value="4"/>
                          <label for="star19">star</label>
                          <input class="radio-btn hide" id="star20" name="star" type="radio" value="5"/>
                          <label for="star20">star</label>
                        </div>
                      </form>
                    </li>
                    <li>
                      <p>Knowledge</p>
                      <form action="#">
                        <div class="rating">
                          <input class="radio-btn hide" id="star21" name="star" type="radio" value="1"/>
                          <label for="star21">star</label>
                          <input class="radio-btn hide" id="star22" name="star" type="radio" value="2"/>
                          <label for="star22">star</label>
                          <input class="radio-btn hide" id="star23" name="star" type="radio" value="3"/>
                          <label for="star23">star</label>
                          <input class="radio-btn hide" id="star24" name="star" type="radio" value="4"/>
                          <label for="star24">star</label>
                          <input class="radio-btn hide" id="star25" name="star" type="radio" value="5"/>
                          <label for="star25">star</label>
                        </div>
                      </form>
                    </li>
                    <li>
                      <p>Ability to solve problem</p>
                      <form action="#">
                        <div class="rating">
                          <input class="radio-btn hide" id="star26" name="star" type="radio" value="1"/>
                          <label for="star26">star</label>
                          <input class="radio-btn hide" id="star27" name="star" type="radio" value="2"/>
                          <label for="star27">star</label>
                          <input class="radio-btn hide" id="star28" name="star" type="radio" value="3"/>
                          <label for="star28">star</label>
                          <input class="radio-btn hide" id="star29" name="star" type="radio" value="4"/>
                          <label for="star29">star</label>
                          <input class="radio-btn hide" id="star30" name="star" type="radio" value="5"/>
                          <label for="star30">star</label>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tour-location" id="tourlocation">
              <div class="collapse-header"><a href="#">Tour location</a></div>
              <div class="collapse-body">
                <div class="tour-location-content">
                  <div class="select-location">
                    <p class="label-name">Locations where you've visited as a guide</p>
                    <select class="form-control js-location select2-hidden-accessible" name="location">
                      <option value="">VIETNAM | Hà Nội | Văn Miếu - Quốc Tử Giám</option>
                      <option value="">VIETNAM | Hà Nội | Văn Miếu - Quốc Tử Giám</option>
                      <option value="">VIETNAM | Hà Nội | Văn Miếu - Quốc Tử Giám</option>
                    </select>
                  </div>
                  <div class="select-location">
                    <p class="label-name">Locations where you've visited as a guide</p>
                    <select class="form-control js-location select2-hidden-accessible" name="location">
                      <option value="">VIETNAM | Hà Nội | Văn Miếu - Quốc Tử Giám</option>
                      <option value="">VIETNAM | Hà Nội | Văn Miếu - Quốc Tử Giám</option>
                      <option value="">VIETNAM | Hà Nội | Văn Miếu - Quốc Tử Giám</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="comment-box" id="viewfeedback">
              <div class="collapse-header"><a href="#">comments</a></div>
              <div class="collapse-body">
                <div class="comment-box-content">
                  <div class="cmt-list">
                    <div class="item">
                      <div class="avatar" style="background-image: url('images/comment-img.png');"></div>
                      <div class="info">
                        <h4>Matt<small>Today at 5:42PM</small></h4>
                        <div class="comments">
                          <p>How artistic!</p>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="avatar" style="background-image: url('images/comment-img.png');"></div>
                      <div class="info">
                        <h4>liot Fu<small>Yesterday at 12:30AM</small></h4>
                        <div class="comments">
                          <p>How artistic!</p>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="avatar" style="background-image: url('images/comment-img.png');"></div>
                      <div class="info">
                        <h4>Joe Henderson<small>Just now</small></h4>
                        <div class="comments">
                          <p>Dude, this is awesome. Thanks so much</p>
                        </div>
                      </div>
                    </div><a class="more" href="#">See more...</a>
                  </div>
                  <div class="cmt-form">
                    <form id="comment-form" action="#">
                      <div class="input-form mr-xl-3">
                        <label>Name</label>
                        <input class="form-control" type="text" placeholder="Name"/>
                      </div>
                      <div class="input-form mr-xl-3">
                        <label>Email</label>
                        <input class="form-control" type="text" placeholder="Email"/>
                      </div>
                      <div class="input-form">
                        <label>Phone</label>
                        <input class="form-control" type="text" placeholder="Phone"/>
                      </div>
                      <div class="textarea-form">
                        <label>Your comments</label>
                        <textarea name="" cols="30" rows="10"></textarea>
                      </div>
                      <button class="btn btn-add" type="submit">Add Comment</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 offset-xl-2">
            <div class="address">
              <h2>contact us</h2>
              <p class="desciption">We provide you the best service and support comes register to receive service information</p>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-start align-items-start">
                  <div class="icon"><img class="img-fluid" src="images/f-location.png"/></div>
                  <div class="text">
                    <h4>Address</h4>
                    <p>Keangnam - Ha Noi</p>
                  </div>
                </li>
                <li class="d-flex justify-content-start align-items-start">
                  <div class="icon"><img class="img-fluid" src="images/f-phone.png"/></div>
                  <div class="text">
                    <h4>phone number</h4>
                    <p>(+84) 123 456 789</p>
                  </div>
                </li>
                <li class="d-flex justify-content-start align-items-start">
                  <div class="icon"><img class="img-fluid" src="images/f-mail.png"/></div>
                  <div class="text">
                    <h4>email</h4>
                    <p>hello@guidereview.com</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 offset-xl-1">
            <div class="contact">
              <h2>Get In Touch</h2>
              <form class="contact-form" action="#">
                <input class="form-control" type="text" placeholder="Your Name"/>
                <input class="form-control" type="mail" placeholder="Mail"/>
                <input class="form-control" type="number" placeholder="Phone"/>
                <textarea class="form-control" row="3" placeholder="Message"></textarea>
                <button class="btn-submit" type="submit">submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <section class="bottom-bar">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 offset-xl-2">
            <div class="copyright">GUIDEREVIEW Pharmaceutical production machines</div>
          </div>
          <div class="col-xl-4 offset-xl-1 align-items-center">
            <ul class="social list-unstyled d-flex justify-content-center align-items-center">
              <li class="d-flex justify-content-center align-items-center"><a href="#"><img src="images/s-facebook.png" alt=""/></a></li>
              <li class="d-flex justify-content-center align-items-center"><a href="#"><img src="images/s-twiter.png" alt=""/></a></li>
              <li class="d-flex justify-content-center align-items-center"><a href="#"><img src="images/s-google.png" alt=""/></a></li>
              <li class="d-flex justify-content-center align-items-center"><a href="#"><img src="images/s-dribble.png" alt=""/></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/select2.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
  </body>
</html>